<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>Graph Plot</title>
<style>

#chart1 {
/*  width: 960px;
  height: 500px;*/
  border: solid 1px #ccc;
}


path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  stroke: #000;
  stroke-width:0.5px;
  font: 10px sans-serif;
  pointer-events: none;
}

</style>

<header>
</header>

<h1>Egonet Plot</h1>

<p id="chart1">


<footer>
</footer>

<script src="/static/js/d3.js"></script>
<script src="/static/js/Egonet.js"></script>
